<ion-header [translucent]="true">
  <ion-toolbar slot="" color="primary">
    <ion-buttons routerLink="/autor" slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2><strong>2010-actualidad:</strong></h2>
        <p>Profesor del Master Universitario en Desarrollo de Software para dispositivos móviles.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2><strong>2008-2010:</strong></h2>
        <p>Sexador de pollos en Angrychicken</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
