<ion-header [translucent]="true">
  <ion-toolbar slot="" color="primary">
    <ion-buttons routerLink="/home" slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        Aplicación desarrollada por X. A continuación puede consultar más información sobre el autor.
      </ion-card-content>
  
      <ion-list>
        <ion-item>
          <ion-label>
            <a routerLink="/curriculum"><ion-icon name="book"></ion-icon> Currículum Vitae</a>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <a><strong><ion-icon name="mail"></ion-icon>Correo:</strong> gmail@gmail.com</a>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <a><strong><ion-icon name="logo-twitter"></ion-icon>Twitter:</strong> @twitter</a>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <a><strong><ion-icon name="call"></ion-icon>Teléfono:</strong> 900 900 900</a>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>