<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          ¡Bienvenido a iBiblioteca!
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar una biblioteca de un centro educativo. Para acceder a la biblioteca pulsa en el seguiente botón:
      </ion-card-content>

      <ion-button routerLink="/ibiblioteca"><ion-icon name="school"></ion-icon> Acceso a biblioteca</ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Información sobre el autor
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        Aplicación desarrollada por X.
      </ion-card-content>

      <ion-button routerLink="/autor"><ion-icon name="person"></ion-icon>Consultar información</ion-button>
    </ion-card>
  </div>
</ion-content>
